<footer class="footer">
    
    <section class="footer__list">
        <a href="https://adalab.es/" target="_blank" rel="noopener noreferrer"><p>Zapatillas</p></a>
        <a href="https://adalab.es/" target="_blank" rel="noopener noreferrer"><p>Ropa</p></a>
        <a href="https://adalab.es/" target="_blank" rel="noopener noreferrer"><p>Niño/-a</p></a>
        <a href="https://adalab.es/" target="_blank" rel="noopener noreferrer"><p>Destacados</p></a>
        <a href="https://adalab.es/" target="_blank" rel="noopener noreferrer"><p>Tips</p></a>
    </section>
    <section class="footer__list">
        <a href="https://adalab.es/" target="_blank" rel="noopener noreferrer"><p>Twitter</p></a>
        <a href="https://adalab.es/" target="_blank" rel="noopener noreferrer"><p>Instagram</p></a>
        <a href="https://adalab.es/" target="_blank" rel="noopener noreferrer"><p>Youtube</p></a>
    </section>
    <section class="footer__credits">
        <a href="https://adalab.es/" target="_blank" rel="noopener noreferrer"><p>&copy; 2023</p></a>
        <a href="https://adalab.es/" target="_blank" rel="noopener noreferrer">
            <p>we <i class="fa-solid fa-heart heart"></i> run</p>
        </a>
    </section>
</footer>