
<div class="item item1">
    <section>
        <h3 class="promo">Año nuevo, movimientos nuevos</h3>
    </section>
</div>
<div class="item item2">
    <section>
        <h4 class="promo__text">Entrenamientos</h4>
        <p class="promo__text--sub">Sesiones de running y entrenamientos.</p>
    </section>
</div>
<div class="item item3">
    <section>
        <h4 class=" promo__text">Cualquier nivel</h4>
        <p class="item5 promo__text--sub">Entrenamientos para cada nivel.</p>
    </section>
</div>
<div class="item item4">
    <section>
        <h4 class="promo__text">Exclusividad</h4>
        <p class=" promo__text--sub">Productos para miembros premium.</p>
    </section>
</div>
<div class="item item5">
    <section>
        <button class="promo__button">Empezar ahora</button>
    </section>
</div>