<div class="item item1">
    <section>
        <h3 class="promo" id="section2">Año nuevo, movimientos nuevos</h3>
    </section>
</div>
<div class="item item2">
    <load scr="partials/ppsection2.html"
    title="Entrenamientos"
    desc="Sesiones de running y entrenamientos."
    />
</div>
<div class="item item3">
    <load scr="partials/ppsection2.html"
    title="Cualquier nivel"
    desc="Entrenamientos para cada nivel."
    />
</div>
<div class="item item4">
    <load scr="partials/ppsection2.html"
    title="Exclusividad"
    desc="Productos para miembros premium."
    />
</div>
<div class="item item5">
    <section>
        <button class="promo__button">Empezar ahora</button>
    </section>
</div>
<div class="item item6">
<a href="#header">
    <img src="./images/ico-arrow.svg " alt="Volver al inicio" class="promo__arrow"></div>
</a>
</div>