
    <h3 class="item promo">Año nuevo, movimientos nuevos</h3>

    <h4 class="item promo__text item1">Entrenamientos</h4>
    <p class="item promo__text--sub item4">Sesiones de running y entrenamientos.</p>

    <h4 class="item promo__text item2">Cualquier nivel</h4>
    <p class="item promo__text--sub item5">Entrenamientos para cada nivel.</p>

    <h4 class="item promo__text item3">Exclusividad</h4>
    <p class="item promo__text--sub item6">Productos para miembros premium.</p>

<button class="section__button">Empezar ahora</button>